.auth{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    height: 97vh;
    overflow-y:hidden;
}
.auth .left{
    background-color:rgb(233, 241, 250);
    text-align: center;
}
.auth .left img{
    /* margin-top:20%; */
    width: 600px;
    height: 600px;
}
.auth .right{
    position: relative;
}